body {
  margin: 0;
  padding: 0;
  background: url(https://www.desktopbackground.org/download/o/2011/08/26/256096_wallpapers-favourites-by-juanmas7er-on-deviantart_2048x1820_h.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.divTitulos {
  text-align: center;
}
.stileDiv {
  background: rgba(83, 73, 73, 0.3);
  text-align: center;
  margin: 5%;
  padding: 5%;
  border-radius: 30px;
  opacity: 0.5;
}
.caja {
  max-width: 1200px;
  width: 90%;
  background: rgb(169, 169, 169, 0.95);
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  opacity: 0.5;
}

td {
  border: black;
  background-color: white;
  align-content: center;
}
.Marcado {
  border: black;
  background-color: rgb(179, 21, 21);
  align-content: center;
}
tr {
  margin: 5rem;
}
